:root{
    --azul-fundo: #000231;
    --cinza-claro: #808080;
    --azul:  #0840a0;
    --roxo-cabecalho: #824ddc;
    --azul-titulo: #19c8ec;
    --rosa: #f436f4;
    --pixel1: 'Press Start 2P', cursive;
    --pixel2: 'VT323', monospace;
    --azul-neon: #17fbf7;
    --amarelo: #faa11c;
    --branco-texto: #F5FFFA;
}
body{
    font-family: var(--pixel2);
    background-color: var(--azul-fundo);
    color: var(--branco-texto);
}