.cabecalho{
    text-align: center;
    height:3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.1em;

}
.cabecalho__menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}
.cabecalho__menu a{
    text-decoration: none;
    color: var(--branco-texto);
    text-shadow: 0.05em 0.05em 0.05em var(--azul-titulo)
}
.cabecalho__titulo{
    color: var(--branco-texto);
    text-shadow: 0.05em 0.05em 0.05em var(--azul-titulo);
    font-size: 1.2em;
}
@media screen and (min-width: 768px) {
    .cabecalho{
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5em 1em;
        height: auto;
    }
    .cabecalho__menu{
        width: 30em;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1200px){
    .cabecalho{
        width: 1024px;
        margin: 0 auto;
    }
} 