.experiencia{
    text-align: center;
}
.experiencia__titulo{
    font-size: 2em;
    text-shadow: 0.05em 0.05em 0.05em var(--azul-titulo);
    padding: 0.5em;
}

.experiencia__item{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cinza-claro);
}
.experiencia__item--reverso{
    background-color: var(--azul);
    color: var(--branco);
}
.experiencia__img{
    width: 21em;
    margin-bottom: 1em;
}
.experiencia__texto--titulo{
    text-align: center;
    color: var(--azul-neon);
    margin-bottom: 1em;
    text-shadow: 0.05em 0.05em 0.05em var(--cinza-claro)
}
.experiencia__texto--exp, .experiencia__info--link{
    text-align: center;
    margin: 1.5em;

}
.experiencia__link--demo{
    text-decoration: none;
    color: var(--amarelo);
    border: 2px solid var(--amarelo);
    border-radius: 5px;
    cursor: pointer;
    padding:  0.5em 3em 0.5em 3em;
    text-shadow: 0.05em 0.05em 0.05em var(--preto);
   
}
.experiencia__link--repositorio{
    text-decoration: none;
    color: var(--amarelo);
    border: 2px solid var(--amarelo);
    border-radius: 5px;
    cursor: pointer;
    padding:  0.5em 1.5em 0.5em 1.5em;
    text-shadow: 0.05em 0.05em 0.05em var(--preto)
   
}
@media screen and (min-width: 768px) {
    .experiencia{
        padding: 2em 0;
    }
    .experiencia__titulo{
        font-size: 3em;
    }
    .experiencia__texto--titulo, .experiencia__texto--exp{
        font-size: 1.2em;
    }
    .experiencia__img{
        width: 35em;
    }
    .experiencia__item{
        padding: 3em 1.5em;
    }
    
    
}
@media screen and (min-width: 1024px){
    .experiencia{
        width: 1024px;
        margin: 0 auto;
    }
    .experiencia__item--reverso{
        border-radius: 1em;
        flex-direction: row-reverse;
    }
    .experiencia__item{
        flex-direction: row;
        padding: 3em 1.5em;
    }

} 